*{
    font-family: "Courier New",monospace;
}
table img{
    width: 200px;
    padding: 40px;
}
header{
    background-color: black;
    color: white;
    padding: 20px;
}
#logo{
    margin: 40px;
}
#logo table{
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}
#logo table tr td{
    border: 1px solid black;
    font-weight: bold;
}
#logo table tr:first-child td:last-child{
    background-color: #DF0024;
}
#logo table tr:nth-child(2) td{
    background-color: #F3C300;
}
#logo table tr:nth-child(3) td{
    background-color: #00AC9F;
}
#logo table tr:last-child td{
    background-color: #2E6DB4;
}